<div class="p-5">

  <%= render "shared/error_messages", obj: @schedule %>
  
  <p>新規作成</p>
  <div class="border p-5">
    <%= form_with model: @schedule, class: "row g-2" do |f| %>
      <div>
        <%= f.label :title, class: "form-label"%>
        <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= f.label :start_date, class: "form-label" %>
        <%= f.date_field :start_date, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :end_date, class: "form-label" %>
        <%= f.date_field :end_date, class: "form-control" %>
      </div>

      <div class="form-check ps-1">
        <%= f.check_box :all_day, class: "form-check-inoput" %>
        <%= f.label :all_day, "終日の場合はチェックを入れます", class: "form-input-label" %>
      </div>

      <div>
        <%= f.label :memo, class: "form-label" %>
        <%= f.text_area :memo, placeholder: "テキスト", class: "form-control" %>
      </div>

      <div class="d-flex justify-content-end">
        <%= link_to "キャンセル", schedules_path, class: "btn btn-outline-secondary mx-3" %>
        <%= f.submit "送信", class: "btn btn-primary col-1" %>
      </div>
    <% end %>
  </div>
</div>
